.genQR{
    text-align: center;
}
h1{
    font-size: 1.8rem;
    padding: 2vh 0 2vh 0;
}
.genAll button {
    text-align: center;
    margin: 2vh 0 2vh 2vw;
    font-size: 1.4rem;
    background-color: rgb(112, 112, 223);
    color: white;
    border-radius: 0.5rem;
    width: 20vw;
    height: 7vh;
}
.genAll button:hover{
    background-color: green;
    color: white;
    font-weight: bold;
}
.infoQR {
    font-size: 1.8rem;
    padding: 5vh 0 0 5vw;
    color: red;
}
.genQR button{
    padding: 2vh 0 0 0;
}
.genQR img{
    width: 25vw;
    height: 40vh;
}
.genQRAll button{
    margin: 0 0 0 70vw;
    
}

.fileQRInp input{
    font-size: 1rem;
    border: 0.1rem solid grey;
    margin: 2vh 0 0 5vw;
    padding: 0.5vh 0 0.5vh 0.5vw;
    width: 45vw;
    height: 4vh;
    border-radius: 0.5rem;
}
.submitQR{
    padding: 2vh 0 0 3vw;
}
.submitQR button{
    font-size: 1.4rem;
    width: 20vw;height: 7vh;
}
.submitQR button:hover{
    background-color: green;
    color: white;
    
}
.QRLogin{
    border: 0.2rem solid rgb(85, 85, 219);
    width: 55vw;
    height: 45vh;
    margin: 2vh 0 0 2vw;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 1rem grey;
}