.transactions {
    padding: 0 1vw 0 1vw;
}
.titleTrans {
    padding: 2vh 0 2vh 0;
    font-weight: bold;
}

th {
    background-color: rgba(58, 138, 251, 0.903);
    color: white;
}
td {
    border: 1px solid rgb(225, 221, 221);
}